.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
**/out/
.DS_Store
application-oauth.yml
# queryDSL
**/generated

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/bin/
Local*Test.java
