<div class="col-md-3" id="community-sidebar">
    <div id="profile-tab" class="w-100">
        {{#userPicture}}
        <div id="sidebar-user-info">
            <img width="42px" height="42px" src="{{userPicture}}" class="profile-img" alt="profile-image">
            <a href="/profile/{{userName}}/">
                <span id="profile-username">{{userName}}</span>
            </a>
        </div>
        {{/userPicture}}
        {{^userPicture}}
        <div id="sidebar-user-info">
            <img width="42px" height="42px" src="/images/default-profile.png" class="profile-img" alt="default-profile-image">
            <a href="/oauth2/authorization/google">
                <span id="profile-username">Google LogIn</span>
            </a>
        </div>
        {{/userPicture}}
    </div>
    <div id="community-tab" class="w-100">
        {{#userName}}
        {{!내 활동}}
        <div class="boardgroup-title">
            <span>내 활동</span>
            <i class="bi bi-chevron-up folder hover-opacity" data-fold-target=".link-activity"></i>
        </div>
        <div class="boardgroup-item link-activity hover-opacity">
            <a href="/community/activity" class="sidebar-link">
                <i class="bi bi-file-text-fill fa-lg"></i>
                <span>내 활동 목록</span>
            </a>
        </div>
        {{/userName}}
        {{!일반 게시판}}
        <div id="normal-boardgroup" class="boardgroup-title">
            <a href="/community/">
                게시판
            </a>
            <i class="bi bi-chevron-up folder hover-opacity" data-fold-target=".link-board"></i>
        </div>
        {{#boards}}
        <div class="boardgroup-item link-board hover-opacity">
            <a href="/community/boards/{{id}}" class="sidebar-link">
                <i class="bi bi-file-text-fill fa-lg"></i>
                <span>{{title}}</span>
            </a>
        </div>
        {{/boards}}
    </div>
</div>
