{{>layout/header}}
<div class="col-md-12">
    <!-- 헤더 영역-->
    <div id="board-title-bar" class="d-flex justify-content-between shadow-box">
        <span class="fs-5">게시판 둘러보기</span>
        <a href="community/boards/save" class="btn btn-primary" role="button">게시판 등록</a>
    </div>
    <br>
    <!--목록 출력 영역-->
    <div class="shadow-box">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시판번호</th>
                <th>제목</th>
                <th>안내</th>
                <th>개설일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#boards}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/community/boards/{{id}}">{{title}}</a></td>
                    <td>{{remark}}</td>
                    <td>{{createdDate}}</td>
                </tr>
            {{/boards}}
            </tbody>
        </table>
    </div>
</div>
{{>layout/footer}}