{{>layout/header}}
<div id="main-container" class="row">
    {{>layout/sidebar}}
    <div id="main-content" class="col-md-9">
        {{!헤더 영역}}
        <div id="board-title-bar" class="d-flex justify-content-between shadow-box">
            <div id="board-title">
                <a href="/teams">{{title}}</a>
            </div>
            <a href="{{createLink}}" class="btn btn-primary" role="button">{{createText}}</a>
        </div>
        <br>
        {{!컨텐츠 출력 영역}}
        <div class="shadow-box">
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>팀 번호</th>
                    <th>팀 이름</th>
                    <th>설명</th>
                    <th>생성일</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#teams}}
                    <tr>
                        <td>{{id}}</td>
                        <td>
                            <a href="/teams/{{id}}">
                                {{#image}}
                                    <img width="20px" height="20px" src="data:image/jpg;base64,{{image}}" alt="팀 이미지"
                                         class="rounded-1">
                                {{/image}}
                                {{^image}}
                                    <i class="bi bi-building-fill"></i>
                                {{/image}}
                                <span>{{name}}</span>
                            </a>
                        </td>
                        <td>{{description}}</td>
                        <td>{{createdDate}}</td>
                    </tr>
                {{/teams}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{>layout/footer}}
