{{>layout/header}}
<div id="main-container" class="row">
    {{>layout/sidebar}}
    <div id="main-content" class="col-md-9">
        {{! 헤더 영역 }}
        <div id="board-title-bar" class="d-flex justify-content-between shadow-box">
            <span id="board-title">팀원 요청</span>
        </div>
        <br>
        {{! 목록 출력 영역 }}
        <div class="shadow-box">
            {{#hasMsgs}}
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>요청자</th>
                    <th>팀</th>
                    <th>내용</th>
                    <th>요청 날짜</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#msgs}}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{team.name}}</a></td>
                        <td>{{content}}</td>
                        <td>{{createdDate}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-team-approve" data-id="{{relationId}}">
                                승인
                            </button>
                            <button type="button" class="btn btn-danger btn-team-deny" data-id="{{relationId}}">
                                거절
                            </button>
                        </td>
                    </tr>
                {{/msgs}}
                </tbody>
            </table>
            {{/hasMsgs}}
            {{^hasMsgs}}<div>요청이 없습니다.</div>{{/hasMsgs}}
        </div>
    </div>
</div>
{{>layout/footer}}
